@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
}

p {
    font-family: lato;
    font-size: 18px;
    color: rgb(39, 39, 39, 60%);
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
}

button {
    background-color: #E55473;
    color: #FFFFFF;
    border: none;
    font-family: lato;
    font-size: 18px;
    font-weight: 700;
    padding: 18px 36px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 1s;
}

button:hover {
    background-color: #FF0339;
    color: gray;
    text-shadow: 1px 1px silver;
}

/* header CSS */

header {
    background-color: rgba(229, 84, 115, 10%)
}

.container {
    width: 85%;
    max-width: 1700px;
    margin: 0 auto;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap-reverse;
}

.banner .banner-text {
    max-width: 600px;
}

.banner .banner-text * {
    margin-bottom: 30px;
}

.banner .banner-text h1 {
    font-family: lato;
    font-size: 68px;
    color: #272727;
    font-style: normal;
    font-weight: 900;
}

.banner .banner-img img {
    width: 100%;
    vertical-align: middle;
}

/* main CSS */
main {
 padding: 100px 0px;
}

/* #featured {

} */

.section-heading {
    max-width: 590px;
    text-align: center;
    margin: 0px auto 40px;
}

.section-heading h2{
    margin-bottom: 10px;
    color: #272727;
    font-size: 36px;
    font-weight: 900;
}

.section-heading p{
    line-height: 32px;
}

.section-content {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.section-content .flower .flower-img {
    height: 450px;
    border-radius: 190px 190px 0px 0px;
    padding: 40px 40px 0px 40px;
    display: flex;
    align-items: flex-end;
}

.section-content .flower .flower-img img {
    width: 100%;
}

.section-content .flower .one  {
    background-color: rgba(167, 33, 98, 15%);
}

.section-content .flower .two  {
    background-color: rgba(5, 151, 160, 15%)
}

.section-content .flower .three  {
    background-color: rgba(71, 125, 17, 15%)
}

.section-content .flower p  {
    color: #272727;
    text-align: center;
    text-decoration: underline;
    font-weight: 700;
    font-size: 20px;
    margin-top: 15px;
}

/* delivery-support CSS */
#delivery-support {
    margin: 80px 0px;
}

.delivery-bg {
    display: flex;
    background-color: rgba(39, 39, 39, 5%);
    justify-content: space-around;
    text-align: center;
    border-radius: 8px;
    padding: 60px 20px;
    flex-wrap: wrap;
    gap: 10px;
}

.contact {
    min-width: 400px;
}

.contact .delivery {
    margin-bottom: 20px;
}

.contact p{
    color: rgba(39, 39, 39, 80%);
    font-weight: 700;
}

/* hot deal CSS */
#hot-deal {
    background-color: rgba(229, 84, 115, 5%)
}

#hot-deal .hot-deal-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 60px 40px;
    text-align: center;
    flex-wrap: wrap-reverse;
}

#hot-deal .hot-deal-text {
    max-width: 555px;
}

#hot-deal .hot-deal-text * {
    margin-bottom: 22px;
}

#hot-deal .hot-deal-img {

}

#hot-deal .hot-deal-img img {
    width: 100%;
}

/* Instagram Css */
#instagram {
    margin: 100px 0px;
}

.instagram-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 20px;

}

.insta-img {
    max-width: 300px;
    box-shadow: 2px 2px 4px silver;
}

.insta-img img {
    width: 100%;
    /* border: 1px solid pink; */
}

/* Latest Deals Css */
#latest-deals {

}

.newsletter-bg {
    background-image: url("/flowerAsset/Rectangle9.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 120px 0px;
    border-radius: 8px;
    background-size: contain;
}

.newsletter {
    max-width: 800px;
    margin: 0 auto;
}

.newsletter form {
    display: flex;
    gap: 10px;

}

.newsletter form input {
    width: 100%;
    padding: 18px 36px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
}

.newsletter form input:focus {
    outline: none;
}

/* Footer Css */
#footer {
    background: #111010;
    padding: 150px 0px;
}

#footer .footer-content {
    text-align: center;
    
}

#footer .footer-content * {
    margin-bottom: 20px;

}

#footer .footer-content h1 {
    color: #fff;
    font-size: 45px;
    font-weight: 900;
    text-shadow: 1px 1px 1px silver;
}

#footer .footer-content p {
    color: rgba(255, 255, 255, 90%);
    font-size: 18px;
    max-width: 575px;
    margin: 0 auto;
    margin-bottom: 25px;
}